.jumbotron{
  background-color: orange;
  color: black;
  margin-top: 50px;
}

.btn{
  width: 100%;
  color: black;
  border-radius: 0px;
}

.card-market{
  flex: 1 200px;
  margin-top: 10px;
}

footer{
  background-color: yellow;
  padding = 10px 10px 0 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  color: black;
}

.footer-address-icon{
  padding-right: 10px;
}
